<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
      <my-component ></my-component>
      <my-component ></my-component>
      <my-component ></my-component>

      <input type="text" v-model="message">
      <child-component :my-message="message"></child-component>

      <ul>
          <item-component v-for="item in items" :item="item"></item-component>
      </ul>

      <new-component :initial-counter="counter"></new-component>
      

      <button @click="toShow()">显示</button>
      <slot-component>
          <span slot="first">【12345】</span>  
      </slot-component>



      <h1>我是父组件的标题</h1>
      <old-component>
          <p>这是一些初始内容</p>
          <p>这是更多的初始内容</p>
      </old-component>

      <my-list :items="items">
          <li
          slot="item"
          slot-scope="props">
          {{props}}
          </li>
      </my-list>

       
       <button @click="change">切换页面</button>
       <component :is="currentView"></component>


       <you-component ref="aa"></you-component>
    </div>
    <script>
        var myComponent = {
            template:"<div class='btn' @click='counter+=1'>{{counter}}</div>",
            data:function(){
               return {
                 message:"child hello world",
                 counter:0
               }
            }
        }

        var childComponent = {
             props:["myMessage"],
             template:"<div>{{myMessage}}</div>"
        }

        var itemComponent={
            props:["item"],
            template:"<li @click='show'>{{item.text}}</li>",
            methods:{
                show:function(){
                    console.log(this)
                }
            }
        }
   
        var newComponent={
            props:["initialCounter"],
            template:"<div>{{initialCounter}}</div>",
            data:function(){
                return { counter:this.initialCounter}
            }
        }

        var slotComponent = {
            template:"<div v-if='tohidden' @click='tohide'>这里是子组件</div>",
            data:function(){
                return{
                    tohidden:true
                }
            },
            methods:{
                tohide:function(){
                  this.tohidden = !this.tohidden;  
                }
            }
        }

        var oldComponent={
            template:"<div><h2>我是子组件的标题</h2><slot>只有在没有要分发的内容时才会显示。</slot></div>"
        }

        var myList ={
            props:["items"],
            template:"<ul><slot name='item' v-for='item in items':text='item.text'></slot></ul>"
        }


        var home={
            template:"<div>我是主页</div>"
        }
        var post={
            template:"<div>我是提交页</div>"
        }
        var archive={
            template:"<div>我是存档页</div>"
        }


        var youComponent = {
            template:"<div>子组件的引用</div>"
        }


        var vm = new Vue({
            el:"#app",
            data:{
                message:"parent hello world",
                items:[
                 {text:"AA"},
                 {text:"BB"},
                 {text:"CC"},
                 {text:"DD"}
                ],
                counter:0,
                isShow:false,
                index:0,
                arr:["home","post","archive"]
            },
            components:{
              myComponent,
              childComponent,
              itemComponent,
              newComponent,
              slotComponent,oldComponent,myList,
              home,post,archive,youComponent
            },
            computed:{
                currentView(){
                    return this.arr[this.index]
                }
            },
            methods:{
               toShow:function(){
                this.$children[7].tohidden = true
               },
               change(){
                this.index = (++this.index)%3
               }
            }
        })


        console.log(vm.$refs.aa)
    </script>
</body>
</html>